@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
html {
  font-size: 13px;
}

@media only screen and (min-width: 767px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 922px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #222335;
}

.navigation {
  height: 99px;
  width: 100%;
  z-index: 100;
  position: relative;
  top: 0;
  left: 0;
}

.navigation__inner {
  width: 100%;
}

.navigation__link {
  margin-left: 2.5rem;
  text-decoration: none !important;
  color: #222335;
  font-size: 1rem;
  font-weight: 500;
}

.navigation__link:hover {
  color: #222335;
}

p {
  font-weight: 300;
}

.hero {
  padding: 14rem 0 13rem 0;
  z-index: 0;
}

.hero__title {
  font-size: 2.6rem;
  font-weight: 900;
}

.hero__bg {
  content: "";
  height: 90vh;
  width: 50%;
  background: #f7f6fc;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.btn {
  border-radius: 6px;
  min-width: 160px;
  font-weight: 600;
  line-height: 40px;
}

.btn-primary {
  background: #012b88;
  border: #012b88;
  color: #fff !important;
}

.btn-white {
  background: #fff;
  color: #012b88;
}

.card__body {
  padding: 2rem 1.7rem;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
          box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
  background: #fff;
}

.card__body__round {
  border-radius: 2rem 8px 8px 8px;
}

.card__icon-container {
  height: 55px;
  width: 55px;
  background: #b5f2e3;
  border-radius: 7px;
}

section {
  padding: 6rem 0;
}

.section__robo {
  left: 0;
  bottom: 0;
}

.section__more-space {
  padding-top: 14rem;
}

.section__colored {
  background: #f8f7ff;
}

.section__grad {
  background: -webkit-gradient(linear, left top, left bottom, from(#ece8ff), to(rgba(236, 232, 255, 0)));
  background: linear-gradient(180deg, #ece8ff 0%, rgba(236, 232, 255, 0) 100%);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Pt sans", sans-serif;
}

.title--small {
  font-size: 1.3rem;
}

.title--bigger {
  font-size: 3rem;
  font-weight: 300;
}

.title__wrapper {
  min-width: 100%;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  margin-top: 5rem;
}

.title__wrapper__pattern {
  position: absolute;
  right: 0;
  top: -5.5rem;
  z-index: 0;
}

.sub {
  color: #37b5ff;
  font-size: 0.9rem;
}

.container {
  z-index: 2;
}

.dot-pattern {
  max-width: 180px;
  bottom: 40%;
  left: -10%;
}

.count__card {
  padding: 1.5rem;
  height: 100%;
}

.custom-round {
  border-radius: 7px;
}

.strip {
  background: #002474;
  padding: 3.5rem 3rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
          box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.1), 0px 32px 40px rgba(50, 50, 71, 0.1);
  border-radius: 19px;
  margin-bottom: 27%;
}

.footer {
  padding: 5rem 0;
}

.footer__link {
  margin-left: 2rem;
  display: inline-block;
  color: #032752;
}

.footer__link:hover {
  text-decoration: none;
}

@media only screen and (min-width: 767px) {
  .strip {
    margin-bottom: 9%;
  }
  .title__wrapper {
    min-width: 50%;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    margin-top: 0;
  }
}

.bg-purple {
  background: #c1aef8;
}

.bg-blue {
  background: #b5f2e3;
}

.bg-pink-dark {
  background: #f8aec3;
}

.bg-pink {
  background: #facfca;
}

.count-strip {
  background: url(../assets/images/count-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 3rem;
  border-radius: 2rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
/*# sourceMappingURL=styles.css.map */